.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.add-button,
.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.2em;
  cursor: pointer;
  /* margin: 5px; */
}

.add-button {
  background-color: #2ecc71;
}

.delete-button {
  background-color: #e74c3c;
}

.add-button:hover,
.delete-button:hover {
  background-color: #ffffff;
  color: black;
  transform: rotate(360deg);
  scale: 1.2;
  border: 1px solid #000000;
  transition: 0.5s;
}
